[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
numpy = "*"
pandas = "*"
gensim = "*"
spacy = "*"
praw = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"],version = "*"}
requests = "*"
joblib = "*"
scikit-learn = "*"
cython = "*"
google-compute-engine = "*"
matplotlib = "*"
pyldavis = "*"
jupyter = "*"
wordcloud = "*"
torch = "*"
scipy = "*"

[requires]
python_version = "3.6"
